/*---------------------------------------------------------------------------------------------
*
*  Post Box
*
*---------------------------------------------------------------------------------------------*/

#poststuff .acf_postbox {
	display: block;
}

#poststuff .acf_postbox.acf-hidden {
	display: none !important;
}

#poststuff .acf_postbox .widefat th, 
#poststuff .acf_postbox .widefat td {
	overflow: visible;
	
}

#poststuff .acf_postbox .inside {
	margin: 0;
	padding: 0;
}

#poststuff .acf_postbox.no_box {
	border: 0 none;
	background: transparent;
}

#poststuff .acf_postbox.no_box > h3,
#poststuff .acf_postbox.no_box > .handlediv {
	display: none;
}


/*---------------------------------------------------------------------------------------------
*
*  Field
*
*---------------------------------------------------------------------------------------------*/

.acf_postbox .field {
	position: relative;
	padding: 15px 10px;
	border-bottom: #e8e8e8 solid 1px;
}

.acf_postbox .field:last-child {
	border-bottom: none;
}

.acf_postbox.no_box .field { 
    border-top: 0 none;
    border-bottom: 0 none;
    padding-left: 0;
    padding-right: 0;
}


/* Field Error */
.acf_postbox .field.error {
	margin: 0;
	border: #CC0000 solid 1px !important;
	border-radius: 0;
}

.acf_postbox.no_box .field.error { 
	padding-left: 10px;
	padding-right: 10px;
} 


.acf_postbox .field.error + .error {
	border-top: 0 none !important;
}

.acf_postbox .field.error:last-child {
    border-bottom: #CC0000 solid 1px;
}

.acf_postbox .field.error label.field_label {
	color: #CC0000;
}


/* Field Label */
.acf_postbox p.label {
	font-size: 11px;
	line-height: 1.1em;
	margin: 0 0 1em;
	padding: 0;
	color: #666666;
	text-shadow: 0 1px 0 #FFFFFF;
}

.acf_postbox p.label label {
	color: #333333;
    font-size: 13px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 3px;
    display: block;
    vertical-align: text-bottom;
}

.acf_postbox .field.required label span.required {
	color: #CC0000;
}

.acf_postbox label.field_label:first-child {
	padding-top: 0;
}

.acf_postbox .field_type-message p.label {
	display: none !important;
} 

/*---------------------------------------------------------------------------------------------
*
*  Basic Field Styles
*
*---------------------------------------------------------------------------------------------*/

.acf_postbox .field input[type="text"],
.acf_postbox .field input[type="number"],
.acf_postbox .field input[type="password"],
.acf_postbox .field input[type="email"],
.acf_postbox .field textarea{
	width: 100%;
	padding: 5px;
	resize: none;
}

.acf_postbox .field textarea {
	resize: vertical;
	min-height: 150px;
}

.acf_postbox .field select{
	width: 100%;
	padding: 2px;
	resize: none;
}



.acf_postbox .field select optgroup {
	padding: 5px;
	background: #fff;
}

.acf_postbox .field select option {
	padding: 3px;
}

.acf_postbox .field select optgroup option {
	padding-left: 5px;
}

.acf_postbox .field select optgroup:nth-child(2n) {
    background: #F9F9F9;
}


/*---------------------------------------------------------------------------------------------
*
*  Field: WYSIWYG
*
*---------------------------------------------------------------------------------------------*/

.acf_wysiwyg {
	
}

.acf_wysiwyg .wp_themeSkin table.mceToolbarRow1 {
    margin-top: 2px !important;
}

.acf_wysiwyg iframe{ 
	min-height: 250px;
}

#post-body .acf_wysiwyg .wp_themeSkin .mceStatusbar a.mceResize {
	top: -2px !important;
}

.acf_wysiwyg .wp-editor-container {
	background: #fff;
	border-color: #CCCCCC #CCCCCC #DFDFDF;
    border-style: solid;
    border-radius: 3px 3px 0 0;
    border-width: 1px;
}


/*
*  WP 3.5 z-index fix for full screen wysiwyg
*/

#mce_fullscreen_container {
	z-index: 150005 !important;
}


/*---------------------------------------------------------------------------------------------
*
*  Field: Image
*
*---------------------------------------------------------------------------------------------*/

.acf-image-uploader {
	position: relative;
}

.acf-image-uploader .has-image { display: none; float: left; position: relative; }
.acf-image-uploader .no-image { display: block; float: left; position: relative; }

.acf-image-uploader.active .has-image { display: block; }
.acf-image-uploader.active .no-image { display: none; }


.acf-image-uploader img {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	width:100%;
	height: auto;
	display: block;
}

.acf-image-uploader .no-image p {
	display: block;
	margin: 0 !important;
}

.acf-image-uploader input.button {
	width: auto;
}


/*
*  Hover
*/

.acf-image-uploader .hover {
	position: absolute;
	top: -11px;
	right: -11px;
	
	-webkit-transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s;
	-moz-transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s;
	-o-transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s; 	
	transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s; 
	
	visibility: hidden;
	opacity: 0;
}

.acf-image-uploader .has-image:hover .hover {
	-webkit-transition-delay:0s;
	-moz-transition-delay:0s;
	-o-transition-delay:0s;
	transition-delay:0s;
	
	visibility: visible;
	opacity: 1;
}

.acf-image-uploader .hover ul {
	display: block;
	margin: 0;
	padding: 0;
}

.acf-image-uploader .hover ul li {
	margin: 0 0 5px 0;
}


.media-modal.acf-media-modal {
	left: 20%;
	right: 20%;
	top: 100px;
	bottom: 100px;
}


.media-modal.acf-media-modal .media-frame-router,
.media-modal.acf-media-modal .attachments,
.media-modal.acf-media-modal .media-frame-content .media-toolbar {
    display: none;
}

.media-modal.acf-media-modal .media-frame-content {
    top: 45px;
}

.media-modal.acf-media-modal .media-frame-title {
    border-bottom: 1px solid #DFDFDF;
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1);
}

.media-modal.acf-media-modal .media-frame-content .media-sidebar {
    width: auto;
    left: 0px;
}


.media-modal.acf-media-modal .media-sidebar {
	padding: 0 30px 24px;
}

.media-modal.acf-media-modal .media-sidebar .attachment-info .thumbnail {
	width: 120px;
	background: #EAEAEA;
}

.media-modal .acf_postbox .field {
    padding: 0;
}

.media-modal.acf-media-modal .media-sidebar .setting,
.media-modal.acf-media-modal .compat-attachment-fields tr {
    margin: 0;
    padding: 2px 0;
    clear: both;
    float: none;
    width: auto;
    padding: 5px 0 5px 130px;
}

.media-modal.acf-media-modal .media-sidebar .setting span,
.media-modal.acf-media-modal .compat-attachment-fields tr th.label {
	position: absolute;
	left: 0;
	width: 120px;
	min-width: 0;
	text-align: left;
	margin: 0;
	padding: 0;
	
	color: #999999;
    text-shadow: 0 1px 0 #FFFFFF;
    font-weight: normal;
}

.media-modal.acf-media-modal .compat-attachment-fields tr th.label span {
	text-align: left;
	padding: 0;
}

.media-modal.acf-media-modal .media-sidebar input, 
.media-modal.acf-media-modal .media-sidebar select,
.media-modal.acf-media-modal .media-sidebar textarea {
    width: 100%;
    margin: 0;
    float: none;
}

/*
.media-modal.acf-media-modal .compat-item th.label {
    float: none;
    margin-right: 0;
    width: 130px;
    text-align: left;
    min-width: 0;
    display: table-cell;
}

.media-modal.acf-media-modal .compat-item th.label span {
	text-align: left;
	
}

.media-modal.acf-media-modal .compat-item td.field {
	width: auto;
	float: none;
	display: table-cell;
}
*/


/*
*  .media-modal 
*/

.media-modal.acf-media-modal .compat-item {
    float: left;
    overflow: none;
    width: 100%;
}

.media-modal.acf-media-modal .compat-attachment-fields,
.media-modal.acf-media-modal .compat-attachment-fields tbody,
.media-modal.acf-media-modal .compat-attachment-fields tr,
.media-modal.acf-media-modal .compat-attachment-fields th,
.media-modal.acf-media-modal .compat-attachment-fields td {
	display: block;
	position: relative;
}

.media-modal.acf-media-modal .compat-attachment-fields td.field {
	width: 100%;
	float: none;
	padding: 0;
}

.media-modal .compat-attachment-fields td.field table {
	display: table;
}
.media-modal .compat-attachment-fields td.field table tbody {
	display: table-row-group;
}
.media-modal .compat-attachment-fields td.field table tr {
	display: table-row;
}
.media-modal .compat-attachment-fields td.field table td,
.media-modal .compat-attachment-fields td.field table th {
	display: table-cell;
}

.media-modal .acf_postbox {
	display: block !important;
}


/*---------------------------------------------------------------------------------------------
*
*  ACF Message Wrapper (used by image / file / gallery)
*
*---------------------------------------------------------------------------------------------*/

.acf-message-wrapper {
	margin: 10px 0;
}

.acf-message-wrapper .message {
	margin: 0 !important;
}




/*---------------------------------------------------------------------------------------------
*
*  Field: File
*
*---------------------------------------------------------------------------------------------*/

.acf-file-uploader {
	position: relative;
	line-height: 1.5em;
}

.acf-file-uploader .has-file {
	display: none;
}

.acf-file-uploader .no-file {
	display: block;
}

.acf-file-uploader.active .has-file {
	display: block;
}

.acf-file-uploader.active .no-file {
	display: none;
}

.acf-file-uploader img {
	margin: 0 5px 0 0;
}

.acf-file-uploader input.button {
	width: auto;
}


/*---------------------------------------------------------------------------------------------
*
*  Field: Select
*
*---------------------------------------------------------------------------------------------*/

#wpcontent select[multiple] {
	height: auto;
}

#wpcontent select optgroup {
	padding: 0 2px
}

#wpcontent select optgroup option {
	padding-left: 6px;
}

ul.checkbox_list {
	background: transparent !important;
}

#createuser ul.checkbox_list input {
    width: auto;
}


/*---------------------------------------------------------------------------------------------
*
*  Input Table
*
*---------------------------------------------------------------------------------------------*/

table.acf-input-table {
	border-radius: 0 0 0 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

table.acf-input-table > thead { }
table.acf-input-table > thead > tr > th { 
	padding: 8px;
	position: relative;
	
	vertical-align: top;
	border-right: 1px solid #e1e1e1;
}

table.acf-input-table > tbody {}

table.acf-input-table > tbody > tr {
	background: #fff;
}

table.acf-input-table > tbody > tr > td {
	background: transparent;
	border: 0 none;
   
    border-top: 1px solid #ededed;
    border-right: 1px solid #ededed;
     
    padding: 8px;
    position: relative;
}

table.acf-input-table > tbody > tr > td {
	background: transparent;
	border: 0 none;
   
    border-top: 1px solid #ededed;
    border-right: 1px solid #ededed;
     
    padding: 8px;
    position: relative;
}

table.acf-input-table.row_layout > tbody > tr > td {
	border-top-color: #DFDFDF;
}

table.acf-input-table > tbody > tr:first-child > td {
	border-top: 0 none;
}

table.acf-input-table > tbody > tr > td:last-child {
	border-right: 0 none;
}


td.acf_input-wrap {
	padding: 0 !important;;
}

.sub-field-instructions {
	color: #999999;
    display: block;
    font-family: sans-serif;
    font-size: 12px;
    text-shadow: 0 1px 0 #FFFFFF;
    
    font-weight: normal;
}


/*---------------------------------------------------------------------------------------------
*
*	Field: Relationship
*
*---------------------------------------------------------------------------------------------*/

.acf_relationship {
	position: relative;
	overflow: hidden;
}

.acf_relationship .relationship_left {
	width: 50%;
	float: left;
}

.acf_relationship .relationship_right {
	width: 50%;
	float: left;
}

.acf_relationship .relationship_label {
	font-size: 12px;
	font-family: sans-serif;
	color: #999;
	position: absolute;
	margin-top: 5px;
	margin-left: 10px;
}

.acf_relationship .widefat {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.acf_relationship .widefat th {
	border-bottom: 0 none;
}


.acf_relationship .relationship_search {
	margin: 0;
	font-size: 12px;
	line-height: 13px;
	border-radius: 13px;
	font-family: sans-serif;
	padding: 5px 9px !important;
}

.acf_relationship .relationship_list {
	background: #fff;
	position: relative;
	overflow: auto;
	height: 150px;
	border: #DFDFDF solid 1px;
	border-top-width: 0;
}

.acf_relationship .relationship_list li.hide {
	background: #f8f8f8;
}

.acf_relationship .relationship_list li.hide a {
	cursor: default;
	color: #21759B !important;
	opacity: 0.5;
	background: transparent !important;
}

.acf_relationship .relationship_list li {
	border-bottom: #f8f8f8 solid 1px;
}

.acf_relationship .relationship_list li a {
	display: block;
	position: relative;
	padding: 7px 9px;
	text-decoration: none;
}

.acf_relationship .relationship_list li a .relationship-item-info {
	color: #CCC;
	text-transform: uppercase;
	float: right;
	font-size: 11px;
}

.acf_relationship .relationship_list li:hover a .relationship-item-info {
	padding-right: 24px;
	color: #999;
}

.acf_relationship .relationship_list li.hide:hover a .relationship-item-info {
	padding-right: 0;
	color: #CCC;
}

.acf_relationship .relationship_list li a:hover,
.acf_relationship .relationship_list li a:focus {
	background: #eaf2fa;
	color: #000;
	box-shadow: #d6e1ec 0 0 0 1px;
}

.acf_relationship .relationship_right .relationship_list {
	margin-left: 10px;
	height: 193px;
	border-top-width:1px; 
}

.acf_relationship .relationship_list li a .acf-button-add,
.acf_relationship .relationship_list li a .acf-button-remove {
	position: absolute;
	top: 5px;
	right: 5px;
	display: none;
	
	cursor: pointer;
}

.acf_relationship .relationship_list li a:hover .acf-button-add,
.acf_relationship .relationship_list li a:hover .acf-button-remove {
	display: block;
}

.acf_relationship .relationship_list li.hide a:hover .acf-button-add {
	display: none;
}


.acf_relationship .relationship_right .relationship_list li a {
	cursor: move;
}

.acf_relationship .load-more .acf-loading {
	padding: 0;
	box-shadow: none;
	background-color: transparent;
}

.acf_relationship.no-results .load-more {
	display: none;
}


.acf_relationship select {
	font-family: sans-serif;
	font-size: 12px;
	
}

.acf_relationship .widefat tr + tr th {
	border-radius: 0;
	border-top: #DFDFDF solid 1px;
	background: #F3F3F3;
	
}

.acf_relationship .relationship_list .result-thumbnail {
	width:21px; 
	height:21px; 
	background:#F9F9F9; 
	border:#E1E1E1 solid 1px; 
	float:left; 
	margin:-3px 5px 0 0;
}


/*---------------------------------------------------------------------------------------------
*
*  Field: Taxonomy
*
*---------------------------------------------------------------------------------------------*/

.acf-taxonomy-field {
	
}

.acf-taxonomy-field ul {
	
}

.acf-taxonomy-field .categorychecklist-holder {
	border: #DFDFDF solid 1px;
	border-radius: 3px;
	max-height: 200px;
	overflow: auto;
}

.acf-taxonomy-field .categorychecklist {
	margin: 0;
	padding: 10px;
}

.acf-taxonomy-field ul li {
	
}

.acf-taxonomy-field ul.children {
	padding-left: 18px;
}


/*---------------------------------------------------------------------------------------------
*
*	Field: Tab
*
*---------------------------------------------------------------------------------------------*/

.field_type-tab {
	display: none !important;
	
}

.acf-tab-group {
	border-bottom: #DFDFDF solid 1px;
	margin: 0 0 10px;
	padding: 10px 4px 0 10px;
	
	background: #F3F3F3;
}

.acf-tab-group li {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	font-size: 23px;
    line-height: 29px;
    margin: 0 6px -1px 0;
    
}

.acf-tab-group li a {
	padding: 10px;
	display: block;
	border-radius: 3px 3px 0 0;
	
	color: #AAAAAA;
	font-size: 20px;
    font-weight: 200;
    line-height: 1em;
    padding: 5px 10px 7px;
    
    border: #DFDFDF solid 1px;
    text-decoration: none;
    background: #F8F8F8;
    
}

.acf-tab-group li a:hover, 
.acf-tab-group li.active a {
    color: #d54e21
}

.acf-tab-group li.active a {
	color: #464646;
	border-color: #CCCCCC;
    border-bottom-color: #F7F7F7;
}



/*
*  No Box
*/

.acf_postbox.no_box .acf-tab-group {
	padding-left: 0;
	border-bottom-color: #CCC;
	background: transparent;
}

.acf_postbox.no_box .acf-tab-group li.active a {
    border-bottom-color: #fff;
}


.acf_postbox.no_box .acf-tab-group li a {
    background: #fff;
    
}


/*---------------------------------------------------------------------------------------------
*
*	Other
*
*---------------------------------------------------------------------------------------------*/

.form-field.field input[type="checkbox"],
.form-field.field input[type="radio"] {
	width: auto !important;
}

#createuser input,
#your-profile input {
	max-width: 25em;
}

/*--------------------------------------------------------------------------
*
*	Tab Group
*	
*-------------------------------------------------------------------------*/

.acf-tab_group-show {
	display: block;
}
tr.acf-tab_group-show {
	display: table-row;
}
.acf-tab_group-hide {
	display: none;
}


/*--------------------------------------------------------------------------
*
*	Conditional Logic
*	
*-------------------------------------------------------------------------*/

.acf-conditional_logic-show {
	display: block;
}
tr.acf-conditional_logic-show {
	display: table-row;
}
.acf-conditional_logic-hide {
	display: none;
}


/*--------------------------------------------------------------------------
*
*	Conditional Logic + Tabs
*	
*-------------------------------------------------------------------------*/

.acf-tab_group-hide.acf-conditional_logic-show {
	display: none;
}

.hl.acf-tab-group > li.acf-conditional_logic-hide {
	display: none;
}


#acf_color_picker {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background: #fff;
	border: #AAAAAA solid 1px;
	border-radius: 4px;
}


/*--------------------------------------------------------------------------
*
*	Retina
*	
*-------------------------------------------------------------------------*/

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
	
	.acf_flexible_content .layout .fc-delete-layout,
	.acf-popup .bit,
	.acf-gallery .toolbar .view-grid,
	.acf-gallery .toolbar .view-list {
		background-image: url(../images/sprite@2x.png);
		background-size: 100px 600px;
	}

	
}